@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@font-face {
	font-family: "Tumbly";
	src: local("Tumbly"), url("src/fonts/Tumbly.woff") format("woff");
}

* {
	font-family: Quicksand, sans-serif;
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body {
	max-width: 1400px;
	margin: auto;
}
